rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /pages/home/sections/{sectionId} {
      allow read: if true;
    }
  }
}
