$black: #000000;
$charcoal: #1B1A15;
$dark-olive: #27251D;
$gold: #DAB810;
$bright-yellow: #FFD400;
$light-gray: #EBEBEB;
$medium-gray: #A3A3A3;
$dark-gray: #484848;
$crimson: #CA2F2F;
$bright-red: #F33131;
