@use '../../../styles/colors' as *;
@use '../../../styles/layout' as *;

.timeline {

  display: flex;
  flex-direction: column;
  gap: 32px;

  &__event {

    padding-left: 36px;
    position: relative;

    &::before {

      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background: $dark-gray;
      left: 8px;
      top: 8px;

      @include from-md {
        left: 158px;
        top: 4px;
      }
    }

    &:last-child::before {
      display: none;
    }

    &::after {

      content: '';
      position: absolute;
      width: 2px;
      height: 32px;
      background: $dark-gray;
      left: 8px;
      bottom: -40px;

      @include from-md {
        height: 64px;
        left: 158px;
        bottom: -68px;
      }
    }

    &:last-child::after {
      display: none;
    }

    @include from-md {
      padding-left: 213px;
    }
  }

  &__event-title {

    position: relative;
    font-size: 1.25rem; // 20px
    font-weight: 700;

    &::before {

      content: '';
      position: absolute;
      width: 19px;
      height: 19px;
      background: $gold;
      border-radius: 50%;
      left: -36px;
      top: 4px;

      @include from-md {
        width: 26px;
        height: 26px;
        left: -66px;
        top: 4px;
      }
    }

    @include from-md {
      font-size: 1.5rem; // 24px
    }
  }

  &__event-subtitle {

    font-size: 1rem;
    font-weight: 500;

    @include from-md {
      font-size: 1.25rem; // 20px
    }
  }

  &__event-date {

    font-size: 0.875rem; // 14px

    @include from-md {
      position: absolute;
      top: 6px;
      left: 0;
      text-align: end;
      width: 116px;
    }
  }

  &__event-description {

    margin: 16px 0 0;
    padding-inline-start: 18px;
  }

  &__event-description-item {

  }

  @include from-md {
    gap: 64px;
  }
}
