@use '../../../styles/colors' as *;
@use '../../../styles/layout' as *;
@use '../../../styles/header' as *;

.skills {

  display: block;

  &__header {
    @include header();
  }

  &__list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__item {}

  &__item-image-wrapper {

    width: 50px;
    height: 50px;

    @include from-md {
      width: 65px;
      height: 65px;
    }

    @include from-md {
      width: 75px;
      height: 75px;
    }
  }

  &__item-image {

    width: 100%;
    height: 100%;
    object-fit: contain;

    &.firebase-storage-src--loading {
      width: 100%;
      height: 100%;
      background: $gold;
      animation: pulse 1.2s infinite ease-in-out;
      border-radius: 6px;

      @keyframes pulse {
        0% { opacity: 1; }
        50% { opacity: .4; }
        100% { opacity: 1; }
      }
    }
  }
}
