@use './styles/colors' as *;
@use './styles/typography';

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $charcoal;
  color: $light-gray;
  margin: 0;
}
