@use './styles/colors' as *;
@use './styles/typography';

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $charcoal;
  color: $light-gray;
  margin: 0;
}

a {

  color: inherit;
  text-decoration: none;
  font-size: 0.9375rem; // 15px

  &:hover {
    text-decoration: underline;
  }
}
