@use '../../../styles/header' as *;
@use '../../../styles/skeleton' as *;

.experience {

  display: block;

  &__header {
    @include header();
  }

  &__skeleton {

    @include skeleton();

    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
